<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async ="true">
    <!-- add your targets here -->
    <target name="file" xsi:type="File"
            layout="${longdate} ${logger} ${message} ${exception:format=tostring}"
            fileName="${basedir}/log/TheTimeApp.log"
            archiveFileName="${basedir}/log/TheTimeApp.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            encoding="iso-8859-2" />
      
  </targets>

  <!-- Add your logging rules here.  -->
  <rules>
      <!-- <logger name="*" minlevel="Info" writeTo="stackify"/> -->
      <logger name="*" minlevel="Info" writeTo="file"/>
  </rules>

</nlog>